{% extends 'base.html' %}

{% block content %} 

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommerce...</p>
            </div>
        </div>
    </header>   
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris efficitur tincidunt erat in efficitur. Sed semper eu sapien a mattis. In fringilla mi ac magna laoreet, sit amet consectetur sapien tristique. Integer sit amet nibh ipsum. Integer arcu nunc, tincidunt quis porta vel, tristique id leo. Maecenas commodo volutpat ultrices. Aenean nec diam id metus scelerisque laoreet ut semper nunc. Donec sit amet erat ac est sodales varius. Sed laoreet laoreet vulputate. Pellentesque eget cursus felis. Donec fringilla pulvinar sapien sed convallis. Praesent non commodo elit.
                        <br><br>
                        Vestibulum vitae neque vitae massa bibendum ultrices. Pellentesque sit amet nisl erat. Vivamus diam dui, mollis non vestibulum ac, congue feugiat odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur mollis magna at volutpat congue. Vivamus sed ipsum mauris. Donec ornare sed mi in bibendum. Ut ut lectus elementum, pretium est ac, convallis nunc. Cras eget erat leo. Cras tincidunt ut odio quis hendrerit. Aenean a mauris vel metus pretium luctus in at odio. Donec sit amet malesuada elit, eget finibus nisl. Pellentesque sollicitudin nisl vel nisl efficitur mattis. In volutpat non ligula eget interdum.
                        <br><br>
                        Nunc ultricies diam a mattis lacinia. Praesent blandit arcu arcu, consectetur volutpat elit viverra vitae. Nam a tempor ipsum. Proin quis accumsan dolor, nec congue mi. Quisque pellentesque purus massa, nec mattis urna dictum a. Phasellus hendrerit, nulla id euismod mollis, mi leo imperdiet nibh, eu tempus magna tellus id enim. Pellentesque rutrum convallis nunc, id tincidunt ligula feugiat id. Maecenas pretium porttitor justo sed eleifend. Vestibulum scelerisque elementum ex, nec tristique tortor condimentum nec. In ipsum justo, fringilla quis vulputate eget, vestibulum eget quam. Vivamus et laoreet ex, efficitur sodales risus. In ac ligula pharetra lectus auctor consequat hendrerit et est. Mauris malesuada tortor in neque fermentum, nec commodo nulla rutrum. Sed eu aliquam neque. Nunc imperdiet leo dignissim nunc laoreet, sit amet tristique arcu luctus. Etiam non sem eleifend, dignissim nisl ac, rutrum nibh.
                    </p>
                    <br><br>
                </div>
            </center>
        </div>
    </div>

{% endblock content %}